body {
    min-width: 510px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    font-family: Calibri, sans-serif;
}

section, footer {
    font-family: Helvetica, sans-serif;
    font-size: 1.01em;
}

input, select {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #9a9a9a;

    /*TODO: fixme*/
    /*background-color: inherit;*/

}
input:invalid {

    background-color: #fff2f4;

}

/*Menu*/
#page-header {
    width: 100%;
    height: 90px;
    background: linear-gradient(to left, #fff, #35679a);
    color: white;
    float: left;
}

#page-footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    float: left;
    margin-top: 20px;
}
#page-content {
    width: 100%;
    float: left;
}

#menu-items {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

#menu-items li {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: #35679a;
    float: left;
    font-size: 1.01em;
}

@media (min-width: 420px) {

    .home-label, .students-label, .subjects-label, .grades-label {

        display: inline;

    }

}
@media (max-width: 420px) {

    .home-label, .students-label, .subjects-label, .grades-label {

        display: none;

    }

}

@media (min-width: 1366px) {

    #menu {
        width: 10%;
        float: left;
        margin-top: 50px;
    }

    #menu-items li {
        margin-top: 10px;
        width: 100%;
    }

    .tile {

        width: 89%;
        float: right;

    }

}
@media (max-width: 1366px) {

    #menu {
        width: 100%;
        float: left;
    }

    #menu-items li {
        display: inline-block;
        width: 25%;
    }

    .tile {

        width: 100%;
        float: left;

    }

}

#menu-items li a {
    float: left;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

#menu-items li:hover {
    background-color: #2a527b;
    cursor: pointer;
}

/*Tabelki*/

.mytable {
    border-collapse: collapse;
    width: 100%;
    font-size: inherit;
}

.mytable td, .mytable th {
    border: 1px solid #ddd;
    padding: 10px;
}

.mytable tr:nth-child(even){
    background-color: #f2f2f2;
}

.mytable tr:hover {
    background-color: #ddd;
}

.mytable th {
    text-align: left;
    background-color: #35679a;
    color: white;
}

.edittable {
    border-collapse: collapse;
    width: 30%;
    margin-left: 10%;
    margin-right: 60%;
    font-size: inherit;
}

.edittable td, .edittable th {
    padding: 10px;
}

/*Nagłówki*/
.table-header {
    float: left;
    color: #848484;
}


.details-button {
    background-color: #35679a;
    min-width: 90px;
}

.btn {
    font-size: 0.85em;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    padding: 5px;
    text-decoration: none !important;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    border: none;
    color: white;
    cursor: pointer;
}

.edit-button {
    background-color: #5bc0de;
}

.remove-button {
    background-color: #d9534f;
}
.back-button {
    background-color: #35679a;
}
.add-button {
    background-color: #008000;
    border: none;
    height: 30px;
    color: white;
    cursor: pointer;
    width: 93%;
}

.update-button {
    background-color: #008000;
    border: none;
    height: 30px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.tile {
    display: none !important;
}

.tile:target {
    display: block !important;
}

@media print {

    body {
        background: white;
        color: black;
    }

    .printable {
        display: block !important;
    }

    .non-printable {
        display: none !important;
    }

    .table-header {
        font-size: 1.5em;
    }

    .mytable td, .mytable th {
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }

}